# Environment
RAILS_ENV=development
RAILS_MAX_THREADS=5
WEB_CONCURRENCY=2

# Only production
SECRET_KEY_BASE=

# DB Config
MYSQL_HOST=localhost
MYSQL_DATABASE=db_default
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_RANDOM_ROOT_PASSWORD=true

# Admin User
ADMIN_USER_EMAIL=admin@example.com
ADMIN_USER_PASSWORD=password
