<section class="welcome-wrapper">
  <div class="container-fluid text-center">
    <article class="jumbotron clearfix">
      <h1>Bienvenidos a <strong>Rural Bike</strong></h1>
      <h2><strong>Campeonato de Mountain Bike del Sudoeste de la Provincia de Buenos Aires</strong></h2>
    </article>
  </div>
</section>

<section class="home-boxes">
  <div class="clearfix">
    <article class="col-md-3 box">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <strong>Reglamento</strong>
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-justify">
            Contamos con un reglamento para cada campeonato, en el que se definen
            las reglas de cada carrera, asi como también cuestiones relacionadas
            con las categorías, puntajes, etc.
          </p>
        </div>
        <div class="panel-footer">
          <a
            class="link"
            role="button"
            target="_blank"
            href="/reglamento.pdf">Ver Reglamento >></a>
        </div>
      </div>
    </article>
    <% unless Championship.current.nil? %>
      <article class="col-md-3 box">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              <strong>Fechas</strong>
            </h3>
          </div>
          <div class="panel-body">
            <p class="text-left">
              Este año se disputarán <%= Championship.current.schedules.count %>
              carreras en diferentes ciudades.
            </p>
          </div>
          <div class="panel-footer text-underline">
            <%= link_to "Ver todas las Fechas >>", :schedules %>
          </div>
        </div>
      </article>
    <% end %>
    <article class="col-md-3 box">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <strong>Resultados</strong>
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-left">
            Tenemos una sección de Resultados
            en donde podrán visualizar los resultados de cada fecha.
            Pronto se podrá también consultar los puntos de las mismas.
          </p>
        </div>
        <div class="panel-footer text-underline">
          <%= link_to "Ver todas las Fechas >>", :schedules %>
        </div>
      </div>
    </article>
  </div>
</section>
