// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  tr {
    th {
      font-weight: normal;
      color: #333;
    }
    &.muted {
      background: #fbfbfb;
      td {
      color: #999; 
      }
    }
  }
}