body {
  background: #f6f6f6;
}

::-webkit-datetime-edit-ampm-field {
  display: none;
}


input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="time"] {
  appearance: none;
  background-color: #ffffff;
  border: 1px solid rgba(204, 204, 204, 0.75);
  border-radius: 4px;
  outline: 0;
  padding: 10px 12px;
  transition: border-color 250ms, box-shadow 250ms;
  width: 100%;
}

form ol > li label,
input,
.tabs .nav-tabs li a,
.title_bar #titlebar_right .action_item {
  font-size: 0.9em;
}

form ol > li label {
  font-weight: bold !important;
}

li {
  list-style: none;
}

.title_bar #page_title {
  font-size: 30px;
}

table {
  border: 1px solid #e2e2e2;
  width: 100%;
  text-align: left;
}

table tr th,
table tr td {
  padding: 10px 20px;
}

table tr td input:not([type="checkbox"]),
table tr td .select2 {
  min-width: auto;
  width: 100% !important;
  margin-left: 0 !important;
}

table tr.odd {
  background: #fff;
}

table tr.even,
table tr th {
  background: #f2f2f2;
}

form input[type='checkbox'] {
  width: 17px;
  height: 17px;
  background: #fff;
}

.sidebar_section input[type="text"] {
  padding: 10px 12px;
  font-size: 14px;
}

form input[type='checkbox']:after {
  display: none;
}

form input[type='checkbox']:checked {
  box-shadow: inset 0 0 0 0;
}

form .boolean label {
  padding-left: 0;
}

input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

[v-cloak] {
  display: none
}

#notifications {
  position: fixed;
  top: 60px;
  left: calc(35% / 2);
  width: 75%;
  z-index: 99999;

  .flash {
    background-image: none;
    border-width: 1px;

    &.flash_notice {
      background-color: #e6f3ed;
    }
  }
}

.site_title {
  a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
}

.select2 {
  min-width: 220px;
  &.select2-container {
    margin-left: 20px;
  }
  &.select2-container--default {
    .select2-selection,
    .select2-selection--single {
      height: 38px;
      padding: 4px 6px;
      border: 1px solid #c9d0d6 !important;

      .select2-selection__arrow {
        height: 38px;
        top: 0;
      }
    }
  }
}

.filter_form, .fragment {

  .filter_date_range input[type='text'] {
    height: 38px;
    background-position: 100% 11px !important;
  }

  .select2-container {
    margin-left: 0;
    width: 100% !important;

    & + input {
      width: 100% !important;
      height: 38px;
      margin-top: 5px;
      float: none !important;
    }
  }
}

.ms-container {
  display: inline-block;
  width: 80%;
  .ms-list {
    height: 150px;
  }

  .search-input {
    float: none;
    width: 100%;
    height: 30px;
  }
}

.has_many_container {
  h3 {
    font-size: 24px !important;
  }
}

.datetime_select {
  .fragments-group {
    margin: 0;
  }
}

.formtastic {
  table {
    margin-bottom: 10px;
  }
}

.form-inline {
  .inline {
    display: inline-block;
    > * {
      float: none;
      width: calc(100% - 22px);
    }
    label {
      margin-bottom: 5px;
      display: block;
    }
    &.select2 {
      label {
        margin-left: 20px;
        display: block;
      }
    }
    .label label{
      display: block;
      float: none;
    }
  }
  &.cols3 {
    .inline {
      width: calc((100% / 3) - 20px);
    }
  }
  &.cols4 {
    .inline {
      width: calc((100% / 4) - 20px);
    }
  }
  .has_many_delete {
    label {
      width: 100%;
      display: block;
      padding-left: 0;
    }
  }
}
